.App {
  display: flex;
  padding: 16px;
  border: 1px solid black;
  margin: 16px;
}

/* not good idea dooing this way* */
.App > div {
  flex: 1;
}
.vertical-layout {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

